// wrapper
.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

body { margin: 0; padding: 0;}

img {max-width: 100%; height: auto; display: block;}

// buttons (i.e "find out more" and "read more"
.button-link {
  font-family: $heading-font;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: $primary;
  background-color: $secondary-accent;
  padding: 12px 35px 8px 35px;
  text-align: center;
  transition: 0.1s;
}
.button-link:hover,
.button-link:focus {
  background-color: $primary;
  color: $secondary-accent;
  outline: 1px solid $secondary-accent;
  transition: 0.1s;
}

// social icons styling
.icon-leaf,
.icon-ppl,
.icon-file,
.icon-phone {
  display: flex;
  justify-content: center;
  align-content: center;
}

// below is styling for box shadow accent bottom-right
// box-shadow: 40px 40px 0px -21px $primary-accent;
// below is styling for box shadow accent bottom-left
// box-shadow: -40px 40px 0px -21px $primary-accent;

.fa-solid {
  background-color: $primary-accent;
  font-size: 3rem;
  padding-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}



