footer {
  background-color: $primary-text;
  text-align: center;

  p {
    color: $primary;
    padding: 8px;
    margin: 0;
  }
}

// footer contact page
.footer-contact {
  position: absolute;
  bottom: -50%;
  right: 0;
  left: 0;
}