// *****************
// index.html header
// *****************

.home-header {
  background-image: url(../assets/home-image-1.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .header-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .header-img {
    position: absolute;
    right: 0;
  }
}
