// ********************
//    SMALL DESKTOPS 
// ********************

@media (max-width: 1120px) {
// index.html adjustments
  .workshops .wrapper .workshops-info-box,
  .workshops .wrapper .plants-info-box {
    padding-left: 0;
    padding-right: 0;
  }
  .founder-flex .founder-info {
    padding-left: 30px;
  }
// blog.html adjustments
  .blog-main-flex {
    .blog-left-flex {
      margin-top: 0;

      .blog-about-box {
        width: 100%;
        margin-top: 50px;
      }

      .blog-left-img {
        position: relative;
        top: -200px;
        right: 19px;

        img {
          box-shadow: 40px 40px 0px -21px $secondary;
        }
      }
    }
    .blog-right-flex {
      .blog-post {
        margin-top: 0;
        padding: 80px 20px 20px 20px
      }

      .blog-right-img {
        top: -350px;
        right: -7.3%;
      }
    }

    .comment-box {
      .comment-content {
        padding-left: 20px;
      }
    }
  }

  .blog-h2 {
  margin-top: 0;
  }
} //media (max-width: 1120px) ENDS

// ********************
//    TABLETS | IPADS 
// ********************

@media (max-width: 1024px) {
// general 
  .wrapper {
    width: 95%;
  }

// nav bar
  .flex-nav-container {
    width: 100%;
  }

// index.html
// **********

// about
  .about .wrapper {
    padding: 150px 0;
  }

// workshops
  .workshops {
    .wrapper {
      position: static;
      margin: 100px auto;
      justify-content: space-between;
      align-items: center;
    }
  }

  .workshops .wrapper {
    .img-container-top,
    .workshops-info-box,
    .plants-info-box,
    .img-container-bottom {
      position: static;
      box-shadow: none;
      width: 49%;
      }
    }

  .workshops .wrapper .img-container-bottom {
    padding-left: 20px;

    img {
      box-shadow: -40px 40px 0px -21px $primary-accent;
      }
    }

  .workshops .wrapper .img-container-top {
    padding-right: 20px;

    img {
      box-shadow: 40px 40px 0px -21px $primary-accent;
    }
  }

// middle links 
  .middle-links {
    padding: 100px 0;
  }
} // media (max-width: 1024px) ENDS


//    MINOR BREAKPOINT 
// ********************
//  fixing some header issues on blog.html and contact.html
@media (max-width: 900px) {
// index.html
  .about .wrapper,
  .workshops .wrapper,
  .middle-links .wrapper,
  .founder .wrapper {
    width: 95%;
  }

  .founder .wrapper {
    .founder-flex {
      justify-content: space-between;
    }
  }

// blog.html
  .wrapper {
    width: 100%;
  }

  .blog-h2 {
    padding-left: 15px;
  }

  .blog-main-flex {
    flex-wrap: wrap;

    .blog-left-flex {
      width: 100%;

      .blog-about-box {
        position: static;
        margin: 0 auto;
        border-bottom: 10px solid $primary-accent;
        border-top: 10px solid $primary-accent;
      }

      .blog-left-img {
        position: static;
        width: 100%;
        max-height: 500px;
        display: flex;
        border-top: 10px solid $primary-accent;

        img {
          margin: 0 auto;
          width: 100%;
          box-shadow: none;
          object-fit: cover;
        }
      }
    }

    .blog-right-flex {
      width: 100%;

      .blog-post {
        padding: 30px 15px 40px 15px;
        box-shadow: none;
        border-bottom: 10px solid $primary-accent;
        border-top: 10px solid $primary-accent;
      }

      .blog-right-img {
        position: static;
        width: 100%;

        img {
          box-shadow: none;
        }
      }

      .comment-section-flex {
        padding: 0 15px;
      }
    }
  }
  .blog-main-flex .comment-box .comment-img {
    width: 20%;

    img {
      max-width: none;
      width: 100%;
    }
  }

  .comment-container {
    padding: 0 15px;
  }

// contact.html
  .flex-nav-container {
    .logo-li {
      padding: 10px 20px;
    }
  }

  .contact-header {
    h1 {
      font-size: 7rem;
    }

    .wrapper.contact {
      width: 95%;
    }
  }

  .contact-page-main {
    .wrapper {
      width: 95%;
    }

    .contact-right-flex {
      margin-right: 15px;
      width: 66%;
    }

    .contact-left-flex {
      margin-top: 35%;
    }
  }

  .comment-form {
    .form-input {
      width: 100%;
    }
  }
} // media (max-width: 900px) ENDS

// ********************
//    lARGE PHONES 
// ********************
@media (max-width: 768px) {

// nav bar stylings
  .flex-nav-container {
    flex-direction: column;
    align-items: center;

    li {
      padding: 20px 20px;

      a {
        font-size: 4rem;
      }
    }

    .logo-li {
      display: none;
    }
  }

// button styling
  .button-link {
    font-size: 3rem;
    width: 100%;
    display: block;
  }

// index.html
// **********

//header
  .home-header {
    height: 800px;

    .header-text {
      align-items: flex-start;

      h1 {
        font-size: 13rem;
        margin-top: 60px;
      }
    }
  }
// about section
  .about .wrapper {
    width: 95%;
  }

// workshops section
  .workshops {
    .wrapper {
      width: 100%;
      flex-direction: column;

      .img-container-top img,
      .img-container-bottom img {
        max-width: none;
        width: 100%;
        box-shadow: none;
      }

      .img-container-bottom,
      .img-container-top {
        padding: 20px 0;
        width: 100%;
      }

      .workshops-info-box,
      .plants-info-box {
        padding: 20px 0;
        width: 95%;
        text-align: center;
      }
    }
  }

// middle-links section
  .middle-links-flex {
    flex-direction: column;
    align-items: center;

    .green-houses,
    .community,
    .blog,
    .contact {
      width: 95%;
    }
  }

//  middle bg full bleed image
  .middle-bg-img {
    background-size: contain;

    img {
      max-width: none;
    }
  }


// founder section
  .founder-flex {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    .founder-info {
      padding: 0;
      margin: 70px 0;
      text-align: center;
    }

    .founder-img-container {
      img {
        max-width: none;
        width: 80%;
        margin: 0 auto;
      }
    }

    .founder-img-container,
    .founder-info {
      width: 100%;
    }
  }

// photo gallery section
  .photo-gallery-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      width: 90%;
      padding: 20px 0;

      img {
        max-width: none;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

// blog.html
// **********

// header
  .blog-header {
    height: 400px;
    border-top: 10px solid $primary-accent;
  }

  .blog-h2 {
    font-size: 8rem;
    padding-left: 30px;
  }

  .blog-main-flex {
    .blog-left-flex {
      .blog-left-img {
        max-height: 400px;
      }
    }
  }

// contact.html
// **********
  .contact-page-main {
    .wrapper {
      width: 100%;
    }
  }

  .contact-header {
    background-image: none;
    height: auto;

    h1 {
      font-size: 8rem;
      padding-left: 30px;
    }

    .wrapper.contact {
      background-image: url(../assets/contact-header-1.jpg);
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $primary;
        border-top: 10px solid $primary-accent;
      }
  }

  .contact-flex {
    position: static;
    flex-direction: column;
    border-top: 10px solid $primary-accent;
    border-bottom: 10px solid $primary-accent;
    padding: 0 15px;


    .contact-left-flex,
    .contact-right-flex {
      width: 100%;
    }

    .contact-left-flex {
      margin-top: 20px;

      .contact-info {
        text-align: center;

      p {
        font-size: 3rem;
        padding: 10px 0;
        }
      }

      .social-icons ul {
        justify-content: space-around;
      }

      .social-icons ul li {
        font-size: 5rem;
      }
    }
  }

  .contact-right-flex {
    margin: 0;

    .comment-form-container {
      box-shadow: none;
      padding: 60px 0 0 0;
      background-color: $primary;
    }
  }

    .footer-contact {
      position: static;
    }

// about.html
// **********
  .contact-header .wrapper.contact {
    .about-header-div {
      width: 100%;

      h1 {
        padding: 0 15px;
      }
    }
  }
} // media (max-width: 768px) ENDS

// ********************
//    MID SIZE PHONES 
// ********************
@media (max-width: 540px) {

// index.html
// **********
  .home-header {
    .header-img {
      display: none;
    }

    .header-text {
      h1 {
        font-size: 10rem;
      }
    }
  }

  .about {
    .wrapper {
      width: 100%;
      padding: 70px 15px;
      border-top: 10px solid $primary-accent;
      border-bottom: 10px solid $primary-accent;
    }
  }

  .workshops {
    .wrapper {
      margin: 0;

      .img-container-top {
        padding: 0;
      }

      .img-container-bottom {
        padding: 40px 0 0 0;
      }
    }
  }

  .middle-links {
    border-top: 10px solid $primary-accent;
    border-bottom: 10px solid $primary-accent;
  }

  .founder {
    padding: 0 15px;
    border-bottom: 10px solid $primary-accent;
  }
} // media (max-width: 540px) ENDS

// ********************
//    SMALL PHONES 
// ********************
@media (max-width: 410px) {

// index.html
// **********
  .home-header {
    height: 700px;

    .header-text {
      h1 {
      font-size: 7rem;
      }
    }
  }

// blog.html
// **********
  .blog-main-flex {
    .comment-box {
      flex-direction: column;
      align-items: flex-start;

      .comment-content {
        width: 100%;
        padding: 20px 0 0 0;
      }

      .comment-img {
        width: 50%;
      }
    }
  }
} // media (max-width: 410px) ENDS