// ********************
//    SMALL DESKTOPS 
// ********************

@media (max-width: 1120px) {
// index.html adjustments
  .workshops .wrapper .workshops-info-box,
  .workshops .wrapper .plants-info-box {
    padding-left: 0;
    padding-right: 0;
  }
  .founder-flex .founder-info {
    padding-left: 30px;
  }
// blog.html adjustments
  .blog-main-flex {
    .blog-left-flex {
      margin-top: 0;

      .blog-about-box {
        width: 100%;
        margin-top: 50px;
      }

      .blog-left-img {
        position: relative;
        top: -200px;
        right: 19px;

        img {
          box-shadow: 40px 40px 0px -21px $secondary;
        }
      }
    }
    .blog-right-flex {
      .blog-post {
        margin-top: 0;
        padding: 80px 20px 20px 20px
      }

      .blog-right-img {
        top: -350px;
        right: -7.3%;
      }
    }

    .comment-box {
      .comment-content {
        padding-left: 20px;
      }
    }
  }

  .blog-h2 {
  margin-top: 0;
  }
} //media (max-width: 1120px) ENDS

// ********************
//    TABLETS | IPADS 
// ********************

@media (max-width: 1024px) {
// general 
  .wrapper {
    width: 95%;
  }

// nav bar
  .flex-nav-container {
    width: 100%;
  }

// index.html
// **********

// about
  .about .wrapper {
    padding: 150px 0;
  }

// workshops
  .workshops {
    .wrapper {
      position: static;
      margin: 100px auto;
      justify-content: space-between;
      align-items: center;
    }
  }

  .workshops .wrapper {
    .img-container-top,
    .workshops-info-box,
    .plants-info-box,
    .img-container-bottom {
      position: static;
      box-shadow: none;
      width: 49%;
      }
    }

  .workshops .wrapper .img-container-bottom {
    padding-left: 20px;

    img {
      box-shadow: -40px 40px 0px -21px $primary-accent;
      }
    }

  .workshops .wrapper .img-container-top {
    padding-right: 20px;

    img {
      box-shadow: 40px 40px 0px -21px $primary-accent;
    }
  }

// middle links 
  .middle-links {
    padding: 100px 0;
  }
} // media (max-width: 1024px) ENDS


//    MINOR BREAKPOINT 
// ********************
//  fixing some header issues on blog.html and contact.html
@media (max-width: 900px) {

// blog.html
  .wrapper {
    width: 100%;
  }

  .blog-h2 {
    padding-left: 15px;
  }

  .blog-main-flex {
    flex-wrap: wrap;

    .blog-left-flex {
      width: 100%;

      .blog-about-box {
        position: static;
        margin: 0 auto;
        border-bottom: 10px solid $primary-accent;
        border-top: 10px solid $primary-accent;
      }

      .blog-left-img {
        position: static;
        width: 100%;
        max-height: 500px;
        display: flex;
        border-top: 10px solid $primary-accent;

        img {
          margin: 0 auto;
          width: 100%;
          box-shadow: none;
          object-fit: cover;
        }
      }
    }

    .blog-right-flex {
      width: 100%;

      .blog-post {
        padding: 30px 15px 40px 15px;
        box-shadow: none;
        border-bottom: 10px solid $primary-accent;
        border-top: 10px solid $primary-accent;
      }

      .blog-right-img {
        position: static;
        width: 100%;

        img {
          box-shadow: none;
        }
      }

      .comment-section-flex {
        padding: 0 15px;
      }
    }
  }
  .blog-main-flex .comment-box .comment-img {
    width: 20%;

    img {
      max-width: none;
      width: 100%;
    }
  }

  .comment-container {
    padding: 0 15px;
  }

// contact.html
  .flex-nav-container {
    .logo-li {
      padding: 10px 20px;
    }
  }

  .contact-header {
    .wrapper.contact {
      width: 95%;
    }
  }

  .contact-page-main {
    .wrapper {
      width: 95%;
    }

    .contact-left-flex {
      margin-top: 35%;
    }
  }

  .comment-form {
    .form-input {
      width: 100%;
    }
  }
} // media (max-width: 900px) ENDS


// ********************
//    lARGE PHONES 
// ********************
@media (max-width: 768px) {

}
// ********************
//    MID SIZE PHONES 
// ********************
@media (max-width: 540px) {

}
// ********************
//    SMALL PHONES 
// ********************
@media (max-width: 410px) {

}