// minor breakpoints
@media (max-width: 1120px) {
// move BLOG h2 closer to top of section as screen shrinks
  .blog-h2 {
  margin-top: 0;
  }
}

// major breakpoints

@media (max-width: 1024px) {
// BLOG.HTML 
// HEADER
.blog-header {
  background-size: cover;
  border: 4px solid pink;
  }

}

// @media (max-width: 768px) {

// }

// @media (max-width: 540px) {

// }

// @media (max-width: 410px) {

// }