// Top level nav bar styles

// NOTE: the background of the nav bar is TRANSPARENT on the index.html/homepage

// Hamburger Menu for mobile and small screens
// hiding hamburger menu until media query needs it
.hamburger-menu-slide {
  display: none;

  label {
    cursor: pointer;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;

    &:checked ~ .burger-slide-out {
      left: 0;
    }

    &:focus + label {
      border: 1px solid $primary-accent;
    }
  }

  .flex-nav-container.burger-nav {
    align-items: flex-start;
  }

  .burger-slide-out.active {
    left: -500px;
  }

  .burger-slide-out {
    position: fixed;
    top: 0;
    left: -500px;
    z-index: 20;
    transition: 0.5s;

    .close-button {
      display: flex;
      justify-content: flex-end;
    }

    button {
      color: $primary-accent;
      background-color: transparent;
      font-size: 4rem;
      font-family: $heading-font;
      padding: 10px;
      border: 2px solid transparent;

      &:active .hamburger-menu-slide .burger-slide-out {
        left: -500px;
        transition: 0.5s;
      }
    }
  }
}

.burger-slide-out {
  background-color: $navbar-bg;
  width: 320px;
}

.flex-nav-container.burger-nav {
  flex-direction: column;

  a {
    font-size: 3rem;
  }
}

// regular nav bar stylings
.nav-bar {
  background-color: transparent;
}

.nav-bar.blog-nav,
.contact-header .nav-bar {
  background-color: $navbar-bg;
}

.flex-nav-container {
  width: 50%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 20px 0 10px 0;

  li {
    padding: 10px 20px;
  }

  .logo-li {
    padding: 10px 0px;
  }

  a {
    color: $secondary;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    }

    a:hover {
      color: $primary-accent;
    }

    a:focus {
      outline: 1px solid $primary-accent;
    }

  .current-page {
    color: $primary-accent;
  }

  .logo {
    color: $secondary;
    font-family: $heading-font;
    font-weight: 400;
    font-size: 4rem;
    padding: 0 10px 0 0;
    margin: 0;
  }

}

