// Top level nav bar styles

// NOTE: the background of the nav bar is TRANSPARENT on the index.html/homepage

.nav-bar {
  background-color: transparent;
}
.blog-header .nav-bar,
.contact-header .nav-bar {
  background-color: $navbar-bg;
}

.flex-nav-container {
  width: 50%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 25px 0 10px 0;

  li {
    padding: 10px 10px;
  }

  .logo-li {
    padding: 10px 0px;
  }

  a {
    color: $secondary;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    }
    a:hover {
      color: $primary-accent;
    }

  .current-page {
    color: $primary-accent;
  }

  .logo {
    color: $secondary;
    font-family: $heading-font;
    font-weight: 400;
    font-size: 4rem;
    padding: 0;
    margin: 0;
  }

}

