//***********************/
// INDEX | HOME STYLINGS /
//***********************/

// ABOUT SECTION //
//***************//
.about {
  background-color: $primary;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    text-align: center;
  }
}

// WORKSHOPS SECTION //
//*******************//
.workshops {
  background-color: $secondary;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 400px;
    margin-bottom: 400px;
    // check back with below, not sure why there
    // width: 100%;
    // max-width: 1400px;

    .img-container-top,
    .workshops-info-box,
    .plants-info-box,
    .img-container-bottom {
      width: 50%;
      position: absolute;
    }

    .img-container-top {
      left:-100px;
      bottom: 60px;
      box-shadow: 40px 40px 0px -21px $primary-accent;
    }

    .workshops-info-box {
      right: 0;
      bottom: 0;
      padding: 50px 0 50px 100px;
      text-align: left;
    }

    .plants-info-box {
      padding: 50px 100px 50px 0;
      text-align: right;
      left: 0;
      top: 0;
    }

    .img-container-bottom {
      right: -100px;
      top: 60px;
      box-shadow: -40px 40px 0px -21px $primary-accent;
    }
  }
}

// MIDDLE LINKS SECTION //
//**********************//

.middle-links {
  background-color: $primary;
  padding: 200px 0 100px 0;
}
.middle-links-flex {
  display: flex;
  flex-wrap: wrap;

  .green-houses,
  .community,
  .blog,
  .contact {
    width: 50%;
    display: flex;
  }

  .icon-leaf-right,
  .community-right,
  .blog-right,
  .contact-right {
    padding: 10px 10px 0 20px;
  }

  h3 {
    margin: 0;
  }

}

// MID-BG IMAGE BLEED //
//********************//

.middle-bg-img {
  max-width: 1800px; //will bleed for a while, but not forever.
  width: 100%;
  display: flex;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

//   FOUNDER SECTION   //
//*********************//

.founder {
  background-color: $primary;
}

.founder-flex {
  display: flex;
  padding: 150px 0 100px 0;

  .founder-img-container {
    width: 33%;

    img {
      box-shadow: 40px 40px 0px -21px $primary-accent;
    }
  }

  .founder-info {
    width: 65%;

    p {
      margin-bottom: 40px;
    }
  }

  h4 {
    margin: 0;
  }
}

// PHOTO GALLERY SECTION //
//***********************//

.photo-gallery-flex {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;

  li {
    width: 32%;

    img:hover,
    img:focus {
      box-shadow: 40px 40px 0px -21px $primary-accent;
    }
  }
}

//*******************/
//   BLOG STYLINGS   /
//*******************/

// MAIN FLEX SECTION //
//*******************//

.blog-main-section {
  background-color: $primary;
}

.blog-main-flex {
  display: flex;
  justify-content: space-between;

// LEFT FLEX SECTION //
//*******************//

  .blog-left-flex {
    width: 33%;
    display: flex;
    margin-top: 70px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    .blog-left-img {
      position: absolute;
      top: 20px;
      // left: -99.5px;
      right: 99.5px;
      width: 100%;
      z-index: 10;

      img {
        box-shadow: 30px 0px 0px -15px $secondary;
      }
    }

    .blog-about-box {
      position: absolute;
      margin-top: 85%; 
      width: 80%;
      padding: 60px 15px;
      background-color: $secondary;

      .inline-link {
        text-decoration: none;
        font-style: italic;
        color: $secondary-text;
        font-weight: 700;
      }

      ul {
        margin-left: 25px;
      }

      ul li::marker {
        color: $secondary-accent;
      }

      ul p {
        margin: 0 0 0 10px;
      }

      h5 {
        margin: 0px 0 15px 0;
      }

    }
  }

// RIGHT FLEX SECTION //
//********************//

  .blog-right-flex {
    width: 64%;
    position: relative;

    .blog-right-img {
      position: absolute;
      width: 105%;
      top: -250px;
      right: -6.85%;

      img {
        box-shadow: -40px 40px 0px -21px $primary-accent;
      }
    }

    .blog-post {
      width: 100%;
      margin-top: 25%;
      padding: 140px 40px 40px 40px;
      box-shadow: -25px 25px 0px -21px $primary-accent;

      // "our mission at planted"
      h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 4.3rem;
        letter-spacing: 0.13rem;
      }

      // "Monday January 21st, 2019 by Yousra
      .blog-date {
        font-weight: 400;
        font-style: italic;
      }
      
      .blog-author {
        font-weight: 700;
        font-style: normal;
      }
    }

// COMMENT SECTION //
//*****************//

    .comment-section-flex {
      padding-left: 40px;

      // "Comments:"
      h4 {
        margin: 40px 0;
      }
    }
  }

  .comment-box {
    display: flex;

    .comment-img {
      padding-top: 8px;
      width: 17%;
    }

    .comment-content {
      width: 82%;
      margin-bottom: 60px;

      p {
        margin-top: 5px;
      }
    }
  }
}

//******************/
// CONTACT STYLINGS /
//******************/
.contact-body {
  background-color: $primary;
  // position: relative;
}

.contact-flex {
  display: flex;
  position: absolute;
  top: 40%;
  justify-content: space-between;
}

// left flex box
.contact-left-flex {
  width: 30%;
  // margin-top: 400px;
  margin-top: 25%;

  .social-icons ul {
    display: flex;
    list-style-type: none;
    font-size: 2rem;

    li {
      padding-right: 20px;

      a {
        text-decoration: none;
        color: $secondary-accent;
        padding: 5px;

        &:hover,
        &:focus {
          outline: 2px solid $secondary-accent;
        }
      }
    }
  }

  .contact-info {
    .address {
      &:hover,
      &:focus {
        text-decoration: underline;
        color: inherit;
      }
    }

    .telephone {
      &:hover,
      &focus {
        text-decoration: underline;
        color: inherit;
      }
    }

    p {
      margin: 0;
    }
    a {
      text-decoration: none;

      .email {
        font-family: $heading-font;
        font-weight: 700;
        margin: 20px 0;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

// right flex box
.contact-right-flex {
  width: 60%;
  margin-right: 60px;
}

.comment-form-container {
  background-color: $secondary;
  height: 100%;
  box-shadow: -40px 40px 0px -21px $primary-accent;
  padding: 60px 40px 0 40px;

  .comment-form {
    input, textarea {
      background-color: $secondary;
    }

    .textarea{
      button {
        margin: 30px 0;
      }
    }
  }
}

// footer contact page
footer {
  position: absolute;
  bottom: -50%;
  right: 0;
  left: 0;
}

