// Fonts: Josefin Sans and Roboto - google link below

// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto:ital@0;1&display=swap" rel="stylesheet">

// site fonts
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

html {
  // resizing base font size so 10px = 1rem
  font-size: 62.5%;
}
body {
  // setting default body font size to 16px
  font-size: 1.6rem;
}

// h1 reference = "Planted Invitation" - index.html
h1 {
  font-size: 16.6rem;
  font-family: $heading-font;
  font-weight: 400;
  color: $secondary;
}
.header-text {
  color: $primary-accent;
  display: block;
}

// h2 reference = "What is Planted" - index.html
h2 {
  font-family: $heading-font;
  font-size: 5.63rem;
  font-weight: 700;
  letter-spacing: 0.13rem;
  color: $primary-text;
  margin: 0;
}

// h3 reference = "green houses, community" etc - index.html
h3 {
  font-family: $heading-font;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: $primary-text;
}

// h4 reference = "Planted's Founder" founder section - index.html
h4 {
  font-family: $heading-font;
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

// h5 reference = "About planted", "Recent posts" - blog.html
h5 {
  font-family: $heading-font;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.13rem;
  color: $body-font;
  margin: 0;
}

// h6 reference = Blog dates - blog.html
h6 {
  font-family: $heading-font;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: $secondary-text;
  margin: 0;
}

p {
  font-size: 2rem;
  line-height: 3.2rem;
  font-family: $body-font;
  font-weight: 400;
  color: $primary-text;
}
