// primary background color (Off white): #f0efed;
// secondary background color (white): #ffffff;
// primary accent color (sunny yellow): #f8e71c;
// secondary accent color (green): #0e902d;
// primary text color (black): #2c2c2c;
// secondary text color (forest green): #074115;

$primary: #f0efed; 
$secondary: #ffffff;
$primary-accent: #f8e71c;
$secondary-accent: #0e902d;
$primary-text: #2c2c2c;
$secondary-text: #074115;
$navbar-bg: #050a0c;

// fonts
$heading-font: "Josefin Sans";
$body-font: "Roboto";